SUPABASE_URL=
SUPABASE_ANON_KEY=
NEXT_PUBLIC_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_CLIENT_APP_URL=http://localhost:3001
NEXT_PUBLIC_ADMIN_APP_URL=http://localhost:3002
AUTH_COOKIE_DOMAIN=.hypreneur.space
